.brands {
  position: relative;
  width: 100%;

  // .brands__row
  &__row {
    display: flex;
  }

  // .brands__colum
  &__colum {
    flex: 01 33.333%;

    // .brands__colum_big
    &_big {
      flex: 0 1 66.667%;
    }
  }

  // .brands__item
  &__item {
    height: 100%;
  }

  // .brands__content
  &__content {
    padding: 50px 65px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 50%;
      margin: 0 0 0 -10px;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #ffffff;
    }
  }

  // .brands__image
  &__image {
    padding: 0 0 37.51% 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #Layer_2 {
    background-image: url(../img/brands/Layer_2.jpg);
  }
  #Layer_3 {
    background-image: url(../img/brands/Layer_3.jpg);
  }
  #Layer_6 {
    background-image: url(../img/brands/Layer_6.jpg);
  }
}

.item {
  display: block;
  position: relative;
  
  // .item__logo
  &__logo {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease 0s;
    &:hover {
      background-color: rgba(100, 194, 158, 0.5);
      transition: all 0.3s ease 0s;
    }
  }

  // .item__image
  &__image {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #Layer_1 {
    background-image: url(../img/brands/Layer_1.jpg);
  }
  #Layer_4 {
    background-image: url(../img/brands/Layer_4.jpg);
  }
  #Layer_5 {
    background-image: url(../img/brands/Layer_5.jpg);
  }
  #Layer_7 {
    background-image: url(../img/brands/Layer_7.jpg);
  }
}

@media (max-width: 1441px) {
  .brands__content {
    padding: 30px 30px;
  }
}

@media (max-width: 1025px) {
  .brands {
    &__row {
      flex-direction: column;
      padding: 2px 0;
      &:first-child {
        padding: 0 0 2px 0;
      }
      &:last-child {
        padding: 2px 0 0 0;
      }
    }
    &__colum {
      order: 2;
      &_reverse {
        order: 1;
      }
      &_none {
        display: none;
      }
    }
    &__item {
      height: auto;
      padding: 0 0 70% 0;
    }
  }

}