.button-block {
  width: 100%;
  background-color: #282f35;

  // .button-block__cantainer
  &__container {
    padding: 75px 0;
    display: flex;
    justify-content: center;
  }

  // .button-block__btn
  &__btn {
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 20px 50px;
    max-width: 300px;

    text-align: center;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    transition: all 0.3s ease 0s;
    &:hover {
      background-color: rgba(100, 194, 158, 0.5);
      transition: all 0.3s ease 0s;
    }
  }
}

@media (max-width: 426px) {
  .button-block {
    &__btn {
      max-width: 250px;
      font-size: 14px;
      padding: 20px 30px;
    }
  }
}

