.reviews {
  position: relative;
  width: 100%;
  background-color: #f7f7f7;
  text-align: center;
  // .reviews__conteiner
  &__conteiner {
    max-width: 1065px;
    padding: 124px 15px 68px 15px;
    margin: 0 auto;
  }
  // .reviews__icon
  &__icon {
    img {
      width: 32px;
    }
  }
  // .reviews__title
  &__title {
    padding: 37px 0 27px 0;
    h2 {
      text-transform: none;
      span {
        font-weight: 400;
      }
    }
  }
  // .reviews__text
  &__text {
    color: #848789;
    font-size: 24px;
    font-style: italic;
    line-height: 34px;
  }
  // .reviews__row-points
  &__row-points {
    padding: 104px 0 0 0;
    display: flex;
    justify-content: center;
  }
  // .reviews__point
  &__point {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: #a9afb3 solid 1px;
    margin: 0 5px;
    &:first-child {
      margin: 0 5px 0 0;
    }
    &:last-child {
      margin: 0 0 0 5px;
    }
    // .reviews__point_active
    &_active {
      background-color: #a9afb3;
    }
  }
}

@media (max-width: 900px) {
  .reviews {
    // .reviews__conteiner
    &__conteiner {
      padding: 60px 15px;
      margin: 0 auto;
    }
    &__row-points {
      padding: 60px 0 0 0;
    }
  }
}
@media (max-width: 600px) {
  .reviews {
    // .reviews__conteiner
    &__conteiner {
      padding: 30px 15px;
      margin: 0 auto;
    }
    &__row-points {
      padding: 30px 0 0 0;
    }
  }
}
